.painting {
    width: 40vw;
    margin: 0 auto;
}

.painting:hover {
    cursor: pointer;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

#list-canvas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-wrap: wrap;
    gap: 15px;
    justify-content: center; */
    margin-top: 60px;
}

#breadcrumbs{
    display: flex;
    margin-left: 40px;
}

#breadcrumbs>div{
    margin-left:20px ;
}

#home-icon{
    position: relative;
    bottom:5px;
}

#breadcrumbs>a{
    
}