html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: compact;
    scroll-behavior: smooth;
}

.painting {
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: row; */

}

.painting:hover {
    cursor: pointer;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

#list-canvas {
    columns: 2;
    width: 58vw;
    margin: 0 auto;
    margin-top: 2rem;
}

#list-canvas>div{
    margin-top: 1rem;
}

#breadcrumbs{
    display: flex;
    margin-left: 20vw;
    margin-top: 3rem;
}

#breadcrumbs>div{
    margin-left:20px ;
}

h2{
    margin-left: 21vw;
    margin-top: 2rem;
}

#home-icon{
    position: relative;
    width: 1.5rem;
}

#arrow-icon{
    width: 9px;
}

#paintings-bc{
    text-decoration: underline;
}

#breadcrumbs>div>a{
    text-decoration: none;
    font-weight: 600;
    color: #32341E;
}

#toTop{
    position: absolute;
    right: 0;
    top:300px;
    width: 80px;
    position: fixed;
    cursor: pointer;
}
