@charset "utf-8";
/* CSS Document*/

/* Abbreviations: */
/* zg- Zoja Golubeva
  arc- article
  btn- button

 */

/* For design:
--purple for headings and buttons
--green for the body text and navigation */

:root{
  --purple:#453A49; 
  --green: #32341E;
  --background: #F8F5F2;
}

/*Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Universal CSS */

html{
  background: url(../images/wall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: var(--background);
  background-image: url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-size: auto; */
  color: var(--green);
  font-family: 'Oxygen', sans-serif;
}



/* body::before {
  content: ""; */
  /* height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(248, 245, 242, 0.6);
} */

a{
  font-style: normal;
}



/* test */
.imagelogo {
  height: 30px;
  position: relative;
  top: 15px;
}

header{
  margin: 0 auto;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  justify-content: center;
}

.ul-nav{
  list-style: none;
  text-align: center;
}

li{
  display: inline-block;
  padding-left: 3rem;
  padding-right: 3rem;

}

li>a{
  text-decoration: none;
  color: var(--green);
}

li>a:hover{
  text-decoration: underline;
}

/* Home page */

.hero-wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'img-zg hero-article';
}

.img-zg{
  width: 50vw;
  border-radius: 0 48% 48% 0;
  -webkit-border-radius: 0 48% 48% 0;
  -moz-border-radius: 0 48% 48% 0;
  -ms-border-radius: 0 48% 48% 0;
  -o-border-radius: 0 48% 48% 0;
  grid-area: img-zg;
}

.hero-article{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  grid-area: hero-article;
  padding-top: 20%;
  padding-left: 10%;

  
}

.art-zg{
  font-weight: 600;
  font-size: 3rem;
}

.art-categories{
  margin-top: 5rem;
  margin-left: 5rem;
}

.categories-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'paintings drawings '
  'graphics installations';
}

.paintings{
  grid-area: paintings;
}

.drawings{
  grid-area: drawings;
}

.graphics{
  grid-area: graphics;
}

.installations{
  grid-area: installations;
}

.about-artist-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'aboutH2 aboutH2'
  'article artistImage '
  'btnReadmore artistImage';
}

.about-h2{
  grid-area: aboutH2;
}

.about-article{
  grid-area: article;

}

.artist-image {
  grid-area: artistImage;
}

.btn-readmore{
  grid-area: btnReadmore;
}
/* About page */


/* Art page */


/* Exhibitions page */


/* Contact page */


.contact-wrapper{
  margin: 0 auto;
  margin-top: 100px;
  width: 80vw;
}

.contact-wrapper>h1{
  padding-left: 2rem;
}

.contact-grid{
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.contact-form{
  margin-left: 2rem;
  margin-top: 2rem;
}

.contact-form>h2{
  font-weight: 400;
  /* font weight not working */
}

.form-wraps{
  margin-top: 1.5rem;
}


input[type=text] {
  width: 95%;
  height: 3rem;
  box-sizing: border-box;
  color: #000000;
  padding: 12px 20px;
  font-size: 1.3rem;
}

input[type=email] {
  width: 95%;
  height: 3rem;
  box-sizing: border-box;
  color: #000000;
  padding: 12px 20px;
  font-size: 1.3rem;

}

button[type=submit]{
    text-transform:uppercase;
    color: black;
    padding: 7px;
    margin-top: 1rem;
    border: 0;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

button[type=submit]:hover{
  font-weight: 600;
  cursor: pointer;
}

#button-arrow{
  position: relative;
  top: 5px;
  left: 5px;
}

textarea{
    color: black;
    width: 89%;
    height: 20vh;
    padding: 12px 20px;
    font-size: 1.3rem;


}

/* Single art page */

#myArtName{
  padding-left: 3rem;
}

.single-art-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 3rem;
  padding-right: 3rem;

}

#single-art-img>img{
  width: 90%;
}

#single-art-info{
  padding-left: 2rem;
  padding-right: 2rem;
}

