@charset "utf-8";
/* CSS Document*/

/* Abbreviations: */
/* zg- Zoja Golubeva
  arc- article
  btn- button
  img- image
 */

/* For design:
--purple for headings and buttons
--green for the body text and navigation */

:root {
  --purple: #453A49;
  --green: #32341E;
  --background: #F8F5F2;
}

/*Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Universal CSS */

html {
  background: url(../images/wall.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: var(--background);
  background-image: url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-size: auto; */
  color: var(--green);
  font-family: 'Quicksand', sans-serif;
}



/* body::before {
  content: ""; */
/* height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
/* position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(248, 245, 242, 0.6);
} */

.nav-a {
  font-style: normal;
  text-transform: uppercase;
  font-size: 20pt;
  text-decoration: none;
  color: #32341E;
}

.nav-a:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.nav-a:active {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}


/* test */
.imagelogo {
  height: 50px;
  position: relative;
  top: 25px;
}

header {
  margin: 0 auto 30px auto;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  justify-content: center;
}

.ul-nav {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 3vh;

}

li>a {
  text-decoration: none;
  color: var(--green);
}

li>a:hover {
  text-decoration: underline;
}

.div-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #F8F5F2;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin-top: 5px;
}

.nav-dropdown>a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #32341E;
  font-weight: 600;
  padding: 10px;
}

.nav-dropdown>a:hover {
  text-decoration: underline;
}

.div-dropdown:hover .nav-dropdown {
  display: block;
}

.copyright-div {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 20px;
}

/* Home page */


/* Hero section */
.hero-wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'img-zg hero-article';

}

.img-zg {
  width: 50vw;
  border-radius: 0 48% 48% 0;
  -webkit-border-radius: 0 48% 48% 0;
  -moz-border-radius: 0 48% 48% 0;
  -ms-border-radius: 0 48% 48% 0;
  -o-border-radius: 0 48% 48% 0;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  grid-area: img-zg;
}

.hero-article {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  padding-top: 20%;
  padding-left: 10%;
  grid-area: hero-article;
}

.art-zg {
  font-weight: 600;
  font-size: 3rem;
}

.btn-more {
  text-decoration: none;
  color: #453A49;
}

.btn-more:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Art categories */

.category-a {
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #32341E;
}

.category-a:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.categories-grid {
  margin: 5vw 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1vw;
  grid-template-areas:
    'categories-h2 categories-h2 '
    'categories-article categories-article'
    'paintings drawings '
    'graphics installations';
  /* justify-items: center; */
}

.categories-h2 {
  grid-area: categories-h2;
}

.categories-article {
  grid-area: categories-article;
}

.paintings {
  grid-area: paintings;
  justify-self: end;
}

.drawings {
  grid-area: drawings;
  justify-self: start;
}

.graphics {
  grid-area: graphics;
  justify-self: end;
}

.installations {
  grid-area: installations;
  justify-self: start;
}

.category-h4 {
  margin: 0;
  padding: 15px;
}

.single-category {
  background-color: #F8F5F2;
  width: fit-content;
}

.img-frame {
  width: auto;
}

.category-img {
  width: 35vw;
}

/* .category-img:hover {
  background: rgba(0, 0, 0, 0.5);
} */

/* My inspiration section */
.about-artist-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'aboutH2 artistImage'
    'article artistImage '
    'btnAbout artistImage';
  margin: 0 0 0 15vw;
}

.about-h2 {
  grid-area: aboutH2;
}

.about-article {
  grid-area: article;

}

.artist-image {
  grid-area: artistImage;
  width: 50vw;
  border-radius: 48% 0 0 48%;
  -webkit-border-radius: 48% 0 0 48%;
  -moz-border-radius: 48% 0 0 48%;
  -ms-border-radius: 48% 0 0 48%;
  -o-border-radius: 48% 0 0 48%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.btn-about {
  grid-area: btnAbout;
}

/* About page */


/* Art page */


/* Exhibitions page */


/* Contact page */


.contact-wrapper {
  margin: 0 auto;
  margin-top: 100px;
  width: 60vw;
}

.contact-wrapper>h1 {
  padding-left: 2rem;
}

.contact-grid {
  background-color: var(--background);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.contact-grid>img {
  width: 27vw;
}

.contact-form {
  margin-left: 2rem;
  margin-top: 2rem;
}

.contact-form>p {
  font-size: 1.3rem;
  padding-right: 5px;
}

.contact-form {
  font-size: 1.2rem;
}

.contact-form>h2 {
  font-weight: 400;
  /* font weight not working */
}

.form-wraps {
  margin-top: 1.5rem;
}


input[type=text] {
  width: 95%;
  height: 3rem;
  box-sizing: border-box;
  color: #000000;
  padding: 12px 20px;
  font-size: 1.3rem;
}

input[type=email] {
  width: 95%;
  height: 3rem;
  box-sizing: border-box;
  color: #000000;
  padding: 12px 20px;
  font-size: 1.3rem;

}

button[type=submit] {
  text-transform: uppercase;
  color: var(--purple);
  margin-top: 1rem;
  border: 0;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: bold;
}

button[type=submit]:hover {
  font-weight: 600;
  cursor: pointer;
}

#button-arrow {
  position: relative;
  top: 5px;
  left: 5px;
}

textarea {
  color: black;
  width: 89%;
  height: 20vh;
  padding: 12px 20px;
  font-size: 1.3rem;
}

/* Single art page */

#myArtName {
  padding-left: 3rem;
}

.single-art-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 3rem;
  padding-right: 3rem;

}

#single-art-img>img {
  width: 90%;
}

#single-art-info {
  padding-left: 2rem;
  padding-right: 2rem;
}


/* Footer */

footer {
  margin-top: 20vh;
}


.ft-column>h4 {
  padding-left: 2.5rem;
  text-transform: uppercase;
  margin-bottom: -10px;
}

.footer-wrap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 80%;
  margin: 0 auto;
}

/* .ft-column>span>ul{
  margin-top: 0px;
} */

.ft-column>span>ul>li {
  padding-left: 0;
  padding-right: 0;
}

.ft-column>span>ul>li>a {
  text-transform: none;
  font-size: 1rem;
  margin-left: 1rem;
  position: relative;
  bottom: .5rem;

}

.ft-column {
  margin: 0 auto;
}

.footer-logo {
  padding-top: 50%
}

.ft-right {
  text-align: right;
}