@charset "utf-8";
/* CSS Document*/

/* Abbreviations: */
/* zg- Zoja Golubeva
  arc- article
  btn- button
  img- image
 */

/* For design:
--purple for headings and buttons
--green for the body text and navigation */

:root {
  --purple: #453A49;
  --green: #32341E;
  --background: #F8F5F2;
}

/*Importing Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Universal CSS */

body {
  background: url(../images/wall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: var(--background);
  background-image: url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-size: auto; */
  color: var(--green);
  font-family: 'Quicksand', sans-serif;
}


.nav-a {
  font-style: normal;
  text-transform: uppercase;
  font-size: 15pt;
  text-decoration: none;
  color: var(--green);
}

.nav-a:hover {
  text-decoration: underline;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  color: var(--green);
}

.nav-a:active {
  text-decoration: underline;
}

a {
  color: var(--purple);
}

h1, h2, h3, h4 {
  font-family: 'Oxygen', sans-serif;
  color: var(--purple);
}

h2, h3, h4 {
  text-transform: uppercase;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}


/* test */
.imagelogo {
  height: 50px;
  position: relative;
  top: 10px;
}

header {
  margin: 0 auto 30px auto;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
  width: auto;
  justify-content: center;
}

.ul-nav {
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;

}

li>a {
  text-decoration: none;
  color: var(--green);
}

li>a:hover {
  text-decoration: underline;
}

.div-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #F8F5F2;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.3);
  z-index: 2;
  margin-top: 5px;
}

.nav-dropdown>a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #32341E;
  font-weight: 600;
  padding: 10px;
}

.nav-dropdown>a:hover {
  text-decoration: underline;
}

.div-dropdown:hover .nav-dropdown {
  display: block;
}





/* A grid for all the categories templates. 
When doing a specific grid, add a ...-grid class */
.categories-grid {
  margin: 5vw 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1vw;
}

.copyright-div {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 20px;
}

/* Home page */

/* Hero section */
.hero-wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'img-zg hero-article';

}

.img-zg {
  width: 50vw;
  border-radius: 0 48% 48% 0;
  -webkit-border-radius: 0 48% 48% 0;
  -moz-border-radius: 0 48% 48% 0;
  -ms-border-radius: 0 48% 48% 0;
  -o-border-radius: 0 48% 48% 0;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  grid-area: img-zg;
}

.hero-article {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  padding-top: 20%;
  padding-left: 10%;
  grid-area: hero-article;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
}

.btn-more {
  text-decoration: none;
  color: var(--purple);
}

.btn-more:hover {
  color: #32341E;
  text-decoration: underline;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Art categories */

.category-a {
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--purple);
}

.category-a:hover {
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
  text-decoration: underline;
  color: #32341E;
}

/* .category-a:visited{
  color: #32341E;
} */

.art-grid {
  grid-template-areas:
    'categories-h2 categories-h2 '
    'categories-article categories-article'
    'paintings drawings '
    'graphics installations';
}

.categories-h2 {
  grid-area: categories-h2;
  margin-bottom: 0;
}

.categories-article {
  grid-area: categories-article;
}

.paintings {
  grid-area: paintings;
  justify-self: end;
}

.drawings {
  grid-area: drawings;
  justify-self: start;
}

.graphics {
  grid-area: graphics;
  justify-self: end;
}

.installations {
  grid-area: installations;
  justify-self: start;
}

.category-h4 {
  margin: 0;
  padding: 15px;
}

.single-category {
  background-color: #F8F5F2;
  width: fit-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.single-category:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.img-frame {
  width: auto;
}

.category-img {
  width: 35vw;
}

/* .category-img:hover {
  background: rgba(0, 0, 0, 0.5);
} */

/* My inspiration section */
.about-artist-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'aboutH2 artistImage'
    'article artistImage '
    'btnAbout artistImage';
  margin: 0 0 4vw 15vw;
}

.about-h2 {
  grid-area: aboutH2;
}

.about-article {
  grid-area: article;

}

.artist-image {
  grid-area: artistImage;
  width: 50vw;
  border-radius: 48% 0 0 48%;
  -webkit-border-radius: 48% 0 0 48%;
  -moz-border-radius: 48% 0 0 48%;
  -ms-border-radius: 48% 0 0 48%;
  -o-border-radius: 48% 0 0 48%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.btn-about {
  grid-area: btnAbout;
}

.exh-h2 {
  margin-bottom: 2rem;
}

/* .btn-exb{
  position: absolute;
  left: 0;
  bottom: 0;
} */

.exhibitions-wrap {
  width: 70vw;
  margin: 0 auto;
}

.exhibitions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2vw;
}

.grid-card>img {
  width: 22vw;
}

.grid-card {
  background-color: white;
  width: 22vw;
}

.grid-card>p {
  padding-left: 15px;
}

.date-p {
  padding-top: 10px;
  font-weight: 600;
}

.grid-card>a>h3 {
  padding-left: 15px;
}

/* About page */

.about-grid-all {
  margin-top: 15vh;

}

.art-studies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'artistImage aboutH2'
    'artistImage article'
    'artistImage btnAbout';
}

.art-studies-image {
  grid-area: artistImage;
  width: 50vw;
  border-radius: 0 48% 48% 0;
  -webkit-border-radius: 0 48% 48% 0;
  -moz-border-radius: 0 48% 48% 0;
  -ms-border-radius: 0 48% 48% 0;
  -o-border-radius: 0 48% 48% 0;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.about-article>p {
  padding-left: 5vw;
  padding-right: 5vw;
}

.art-studies-grid>h2 {
  padding-left: 5vw;
  padding-top: 10vh;
}

.art-studies-article>p {
  padding-left: 5vw;
  padding-right: 15vw;
}

.my-inspiration {
  margin-bottom: 15vh;
}

.my-inspiration>h2 {
  margin-top: 15vh;
}

.resume-wrap {
  width: 75vw;
  height: 55vh;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.resume-wrap>h2 {
  padding-left: 3vw;
  padding-top: 3vh;
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.resume-grid>div>p {
  padding-left: 3vw;
}

.resume-grid>div>p>img {
  position: relative;
}

.resume-wrap>a>h3 {
  padding-left: 3vw;
  width: fit-content;
}

/* Art page */

/* Paintings */
.paintings-grid {
  grid-template-areas:
    'category-name-h2 category-name-h2'
    'portrait p-still-life'
    'landscape figurative'
    'more-paintings more-paintings';
}

.category-name-h2 {
  grid-area: category-name-h2;
}

.portrait {
  grid-area: portrait;
}

.paintings-still-life {
  grid-area: p-still-life;
}

.landscape {
  grid-area: landscape;
}

.figurative {
  grid-area: figurative;
}

.btn-more-paintings {
  grid-area: more-paintings;
}

/* Drawings */
.drawings-grid {
  grid-template-areas:
    'category-drawings-h2 category-drawings-h2'
    'd-portrait d-still-life'
    'd-nude .'
    'more-drawings more-drawings';
}

.category-drawings-h2 {
  grid-area: category-drawings-h2;
}

.drawings-portrait {
  grid-area: d-portrait;
}

.drawings-still-life {
  grid-area: d-still-life;
}

.drawings-nude {
  grid-area: d-nude;
}

.btn-more-drawings {
  grid-area: more-drawings;
}

/* Graphics */
.graphics-grid {
  grid-template-areas:
    'category-graphics-h2 category-graphics-h2'
    'linocut .'
    'more-graphics more-graphics';
}

.category-graphics-h2 {
  grid-area: category-graphics-h2;
}

.linocut {
  grid-area: linocut;
}

.btn-more-graphics {
  grid-area: more-graphics;
}

/* Installations */
.installations-grid {
  grid-template-areas:
    'category-installations-h2 category-installations-h2'
    'textile paper'
    'fungi .'
    'more-installations more-installations';
}

.category-installations-h2 {
  grid-area: category-installations-h2;
}

.textile {
  grid-area: textile;
}

.paper {
  grid-area: paper;
}

.fungi {
  grid-area: fungi;
}

.btn-more-installations {
  grid-area: more-installations;
}

/* Exhibitions page */


/* Contact page */


.contact-wrapper {
  margin: 0 auto;
  margin-top: 100px;
  width: 70vw;
}

.contact-grid {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.contact-grid>img {
  width: 27vw;
}

.contact-form {
  margin-left: 2rem;
  margin-top: 2rem;
}

.contact-form>p {
  font-size: 1.8vw;
  padding-right: 5px;
}

.contact-form {
  font-size: 1.2rem;
}

.contact-form>h2 {
  font-weight: 400;
  /* font weight not working */
}

.form-wraps {
  margin-top: 1.5rem;
}

label {
  position: relative;
  bottom: 6px;
}

input[type=text] {
  width: 95%;
  height: 3rem;
  box-sizing: border-box;
  color: #000000;
  padding: 12px 20px;
  font-size: 1.3rem;
}

input[type=email] {
  width: 95%;
  height: 3rem;
  box-sizing: border-box;
  color: #000000;
  padding: 12px 20px;
  font-size: 1.3rem;

}

input::placeholder {
  font-size: 1.1rem;
  color: #453a496c;
}

button[type=submit] {
  text-transform: uppercase;
  color: var(--purple);
  margin-top: 1rem;
  border: 0;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: bold;
}

button[type=submit]:hover {
  font-weight: 600;
  cursor: pointer;
}

.button-arrow {
  position: relative;
  top: 0px;
  left: 8px;
}

textarea {
  color: black;
  width: 95%;
  height: 20vh;
  padding: 12px 20px;
  font-size: 1.3rem;
}

/* Single art page */

#myArtName {
  padding-left: 3rem;
}

.single-art-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 3rem;
  padding-right: 3rem;

}

#single-art-img>img {
  width: 90%;
}

#single-art-info {
  padding-left: 2rem;
  padding-right: 2rem;
}


/* Footer */

footer {
  width: 100vw;
  margin-top: 20vh;
}


.ft-column>h4 {
  padding-left: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-wrap-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 80vw;
  margin: 0 auto;
}

.ft-left {
  padding-right: 7.5vw;
}

.ft-mid {
  padding-right: 1vw;
}

.ft-mid>a>img {
  padding-bottom: 20px;
}

.ft-column>span>ul>li {
  padding-left: 0;
  padding-right: 0;
}

.ft-column>span>ul>li>a {
  text-transform: none;
  font-size: 1rem;
  margin-left: 1rem;
  

}

.ft-column {
  margin: 0 auto;
}

.footer-logo {
  padding-top: 50%
}

.ft-right {
  text-align: right;
}

.ft-span-bottom>ul>li {
  position: relative;
  bottom: 20px;
}

/* Burger menu */

.navbar {
  display: none;
}

.footer-mobile {
  display: none;
}

@media screen and (max-width: 1150px) {
  .about-article>p {
    padding-left: 0;
  }


}

@media screen and (max-width: 820px) {
  .desktop-nav {
    display: none;
  }

  .navbar {
    display: block;
  }

  .hero-wrapper-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      'img-zg'
      'hero-article';
  }

  .img-zg {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  .hero-article {
    padding-top: 5%;
    padding-left: 10%;
    padding-bottom: 10vh;
  }

  h1 {
    font-size: 2rem;
  }

  .categories-grid {
    grid-template-columns: 1fr;
  }

  .art-grid {
    grid-template-areas:
      'categories-h2'
      'categories-article'
      'paintings''drawings'
      'graphics''installations';
    margin: 0 auto;
  }

  .categories-article {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .categories-h2 {
    margin-left: 10vw;
    font-size: 1.3rem;

  }

  .single-category {
    justify-self: center;
    width: 80vw;
    margin-top: 2rem;
  }

  .img-frame>a>img {
    width: 100%;
  }

  .about-artist-grid {
    margin: 10vh 0 10vh 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      'aboutH2'
      'artistImage'
      'article'
      'btnAbout';
  }

  .about-h2 {
    margin-left: 10vw;
    font-size: 1.3rem;
  }

  .about-article {
    padding: 2rem 2rem 2rem 4rem;
  }

  .artist-image {
    width: 80vw;
    margin: 0 auto;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
  }

  .btn-about {
    margin-left: 10vw;
  }

  .exhibitions-wrap {
    width: 80vw;
  }

  .exhibitions-grid {
    grid-template-columns: 1fr;
  }

  .grid-card {
    width: 80vw;
    margin-bottom: 1rem;
  }

  .grid-card>img {
    width: 80vw;
  }

  .exh-h2 {
    font-size: 1.3rem;
  }

  .footer-wrap-grid {
    display: none;
  }

  .footer-mobile {
    display: block;
  }

  .logo-wrap-footer {
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-bottom: solid 1px var(--green);
  }

  .logo-wrap-footer>img {
    margin-left: 20%;
  }

  .contact-footer {
    width: 60vw;
    margin: 0 auto;
  }

  .contact-footer>a {
    padding-left: 30px;
  }

  .copyright-div {
    margin-top: 2rem;
  }

  .footer.a{
    text-decoration: none;
  }
}